@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --text-dark-purple: #4A044E;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--text-dark-purple)
}