.bg-login {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url('../assets/background-login-4.jpg');
    background-position: center;
    background-size: cover;
}

.banner-login {
    background: url('../assets/banner-login.jpg') center/cover no-repeat;
}